{% extends 'OrderBundle::layout.html.twig' %}

{% block body %}
<div class="container">
<h1>ORDEN CONFIRMADA</h1>
<br>
<h2>Habrás recibido un email con los datos de la reserva</h2>
</div>
{% endblock %}
